.component_course_home {
	position: relative;
	display: block;
	padding: 100px 0 0;

	@include max_breakpoint(xl) {
		padding: 50px 0 0;
	}

	h1 {
		text-align: center;
		margin: 0 0 15px;
	}

	& > ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;

		@include max_breakpoint(xl) {
			margin: 0;
		}

		& > li {
			width: calc(100% / 3 - 40px);
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			margin: 20px;
			padding: 80px 50px 50px;
			border-radius: 20px;
			border: 2px solid #BF9213;

			@include max_breakpoint(xl) {
				width: 100% !important;
				margin: 25px 0 0;
				padding: 50px 25px !important;

				&:first-child {
					margin-top: 0;
				}
			}

			&[data-width=half] {
				width: calc(100% / 2 - 40px);
				padding: 100px 50px;

				.wrapper {
					display: flex;
					flex-wrap: wrap;
					align-items: center;

					@include max_breakpoint(xl) {
						flex-flow: column;
					}
				}

				.image {
					margin: 0 0 25px;
				}

				.description {
					text-align: left;
				}
			}

			&[data-width=full] {
				width: 100%;
				padding: 100px 50px;

				.wrapper {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;

					@include max_breakpoint(xl) {
						flex-flow: column;
					}
				}

				.image {
					ul {
						display: flex;
						align-items: center;

						@include max_breakpoint(xl) {
							flex-flow: column;
						}

						li {
							position: relative;
							display: flex;
							align-items: center;
							padding: 0 80px;

							@include max_breakpoint(xl) {
								padding: 50px 0;
							}

							&:first-child {
								padding-left: 0;

								@include max_breakpoint(xl) {
									padding-top: 0;
								}

								&:before {
									content: none;
								}
							}

							&:last-child {
								padding-right: 0;

								@include max_breakpoint(xl) {
									padding-bottom: 0;
								}
							}

							&:before {
								content: '+';
								color: #000;
								font-size: 32px;
								font-weight: 700;
								position: absolute;
								right: calc(100% - 20px);
								width: 40px;
								height: 40px;
								display: flex;
								align-items: center;
								justify-content: center;
								margin: auto;
								border-radius: 50px;
								background: rgb(184, 135, 23);
								background: linear-gradient(90deg, rgba(184, 135, 23, 1) 0%, rgba(216, 183, 6, 1) 70%);

								@include max_breakpoint(xl) {
									right: 0;
									bottom: calc(100% - 20px);
									left: 0;
								}
							}
						}
					}
				}

				.description {
					font-size: 26px;
					width: 100%;

					@include max_breakpoint(xl) {
						font-size: 18px;
					}
				}

				.global_cta {
					margin-right: 15px;

					@include max_breakpoint(xl) {
						margin: 0;
					}
				}

				.local_cta {
					margin-top: 0;

					@include max_breakpoint(xl) {
						margin: 15px 0 0;
					}
				}
			}

			.image {
				display: block;
				margin: auto 0 25px;

				@include max_breakpoint(xl) {
					width: 100%;
					max-width: 250px;
					margin-right: auto;
					margin-left: auto;
				}

				img {
					max-width: 100%;
					display: block;
				}
			}

			.description {
				color: #fff;
				font-size: 20px;
				text-align: center;
				display: block;
				margin: 0 0 50px;

				@include max_breakpoint(xl) {
					font-size: 18px;
				}
			}

			.global_cta {
				margin-top: auto;
			}

			.local_cta {
				color: #fff;
				font-size: 20px;
				font-weight: 600;
				text-transform: uppercase;
				display: block;
				margin: 15px 0 0;
				transition: .15s all linear;

				&:hover {
					transform: translateY(-1px);
				}
			}
		}
	}
}