fieldset {
	width: 100%;
	padding: 15px;
	border: none;
	/*border: 1px solid rgba(0,0,0,0.1);*/
	background-color: rgba(0, 0, 0, 0.015);

	&:last-child {
		margin: 0 !important;
	}

	& > div {
		font-size: 0;
	}

	legend {
		font-size: 18px;
	}

	.legend {
		color: #aaa;
		font-size: 13px;
		text-transform: uppercase;
		display: block;
		margin: 0 0 25px;
		padding: 0 0 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}